*,
*::before,
*::after{
    box-sizing:border-box;
}

html, 
body {
    margin: 0;
}

body{
    width:414px;
    height:1767px;
}

/* header */

header{
    display:flex;
    width:414px;
    height:59px;
    background:#FFFFFF;
    justify-content:space-between;
    align-items:center;
    /* gap:0 80px */
    background:blue;
    margin:0;
    padding:0 1.25rem;
}

.header-logo-container{
    width: 23.16px;
    height:23.16px;
}


.header-img-title{
    display:flex;
    /* background:pink; */
    width:140px;
    height:23.16px;
    justify-content:space-around;;
    align-items:center;
}

.header-heading{
    font-weight:bold;;
    color:#0E0E0E;
    font-family: "Roboto", sans-serif;
    font-size:0.85em;
    margin:0;
    letter-spacing:-3%;
}

.header-btns{
    /* background:blue; */
    width: 110px;
    font-family: "Source Sans 3", sans-serif;
    font-weight:600;
    font-size:0.75em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    letter-spacing:0%;
    line-height:auto;
    color:#090909;
    /* background:red; */
}

main,
section{
    margin:0;
}

/* page-1 */
/* intro section */

.intro{
    width:414px;
    height:293px;
    margin:0 0 10px 0;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:start;
    background-image:url("../images/article-image.png");
    background-size:cover;
    background-position:center;
    /* background-repeat: no-repeat; */
    color:#FFFFFF;
    padding:0 20px 20px 20px;
    font-family: "Source Sans 3", sans-serif;
}

.intro-date{
    font-size:0.75em;
    letter-spacing:0%;
    line-height:auto;
    margin:0px;
    opacity:80%;
}

.intro-heading{
    font-size:2em;
    font-weight:bold;
    line-height:108.2%;
    letter-spacing:-3%;
    margin:5px 0 5px 0;
}

.intro-context{
    font-size:1em;
    font-weight:0;
    letter-spacing: 0%;
    line-height:auto;
    opacity: 80%;
    margin:0px;
}

/* blogs */

.blog{
    padding:0 20px;
    font-family: "Source Sans 3", sans-serif;
}

.blog-section{
    margin:30px 0px;
}

.blog-img{
    width:374px;
    height:232px;
    border-radius:3px;
    margin:0px;
}

.blog-date{
    color:#000000;
    font-size:14.17px;
    margin:10px 0px;
}

.blog-heading{
    font-weight:bold;
    color:#141414;
    line-height:108.2%;
    margin:0px;
    font-size:1.5em;
}

.blog-context{
    margin:10px 0px;
    color:#505050;
    line-height:125%;
    font-size:1em;
}

.view-more-container{
    margin:30px 0px 45px  0px;
    text-align:center;
}

.view-more-link{
    font-family: "Source Sans 3", sans-serif;
    font-size:1em;
    color:#000000;
    font-weight:bold;
}

/* footer */
footer{
    background:#202020;
    width:414px;
    height:105px;
    margin-top:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family: "Source Sans 3", sans-serif;
}

.footer-heading{
    color:#ECECEC;
    font-size:0.75em;
    font-weight:bold;
    line-height:108.2%;
    letter-spacing: -3%;
    margin:0px 0px 0.125rem 0px;
}

#copyright{
    margin:0px;
    color:#D7D7D7;
    font-size:0.75em;
    line-height:125%;
}